<% if value.url.present?%>
  <%= link_to(body: value, url: value.url) %>
<% else %> 
  <span><%= value %></span>
<% end %>
<span class="metadata__list--browse-link">
  <%= link_to(body: "Browse in #{value.kind.gsub('_', ' ')} list", url: value.browse_url) %>
</span>
