<%
  classes ||= []
  classes.push("list__no-style")
%>
<ul class="<%= classes.compact.join(" ") %>">
  <% values.each do |value| %>
    <li>
      <span class="material-symbols-rounded" aria-hidden="true">
        <%= value.icon %>
      </span>
      <span class="strong">
        <%= value.text %>
      </span>
    </li>
  <% end %>
</ul>
