<ul class="list__no-style paired-fields">
  <% values.each do |value| %>
    <li>
      <% if value.transliterated %>
        <ul class="list__no-style">
          <li class="metadata__information--transliterated">
            <%= value.transliterated %>
          </li>
          <li>
            <%= value.original %>
          </li>
        </ul>
      <% end %>
      <%= value.original %>
    </li>
  <% end %>
</ul>
