<ul class="list__no-style paired-fields">
  <% values.each do |value| %>
    <li>
      <% if value.transliterated %>
        <ul class="list__no-style">
          <li class="metadata__information--transliterated">
            <%= link_to(body: value.transliterated, url: value.transliterated.url) %>
          </li>
          <li>
            <%= link_to(body: value.original, url: value.original.url) %>
          </li>
        </ul>
      <% else %>
        <%= link_to(body: value.original, url: value.original.url) %>
      <% end %>
    </li>
  <% end %>
</ul>
