<ul class="list__no-style">
  <% values.each do |value| %>
    <% if value.transliterated %>
      <li class="metadata__information--transliterated"><%= value.transliterated %></li>
    <% end %>
    <li><%= value.original %></li>
  <% end %>
</ul>
