<nav aria-label="Advanced Search Categories" class="advanced-search__nav">
  <ol class="advanced-search__tabs">
    <% @datastores.each do |datastore| %>
      <li class="advanced-search__tabs--tab">
        <%= link_to(
          body: datastore.title,
          url: "/advanced/#{datastore.slug}",
          classes: ["underline__none"],
          rest: "aria-current=\"#{datastore.aria_current_attribute(@presenter.slug)}\""
        ) %>
      </li>
    <% end %>
  </ol>
</nav>
