<% if @presenter.browse.has_browse? %>
  <p class="hide__print">
    <%= link_to(body: "Browse all #{datastore}", url: @presenter.browse.url) %> alphabetically or by academic discipline.
  </p>
<% end %>
