<div class="container__rounded--no-shadow filters">
  <%= erb :'/datastores/results/partials/filters/_active' %>
  <%= erb :'/datastores/results/partials/filters/_checkboxes' %>
  <%= erb :'/datastores/results/partials/filters/_details' %>
</div>
