<div class="container__rounded--no-shadow filters__container">
  <%= erb :'/datastores/results/partials/filters/_active-filters' %>
  <%= erb :'/datastores/results/partials/filters/_checkboxes' %>
  <%= erb :'/datastores/results/partials/filters/_details' %>
</div>
