<div class="container results__info text__small">
  <div class="results__info--content">
    <%= info %>
  </div>
  <button class="hide__no-javascript button__link results__info--hide">
    Hide
  </button>
</div>
