<% if results.size > 0 %>
  <%= erb :'/datastores/list/partials/_go-to' %>
  <%= erb :'/datastores/partials/_actions', locals: { patron: @patron } %>
  <p>Results list</p>
  <%
    # Show specialists only on the first page
    if current_page == 1
  %>
    <%= erb :'/datastores/results/partials/results-list/_specialists' %>
  <% end %>
<% else %>
  <%= erb :'/datastores/results/partials/results-list/_no-results' %>
<% end %>
