<ol start="<%= start_result %>" class="list__no-style results__list">
  <% results.each_with_index do |result, index| %>
    <%= erb :'datastores/results/partials/results-list/_list-item', locals: { datastore: datastore, index: start_result + index, result: result } %>
    <%
      # Show specialists only on the first page
      if current_page == 1
        if results.size < 3
          # Show specialists after the last result if there are less than 3 results
          show_specialists = index == results.size - 1
        else
          # Show specialists after the third result
          show_specialists = index == 2
        end

        if show_specialists
    %>
      <li class="container__rounded">
        <%= erb :'/datastores/results/partials/results-list/_specialists' %>
      </li>
    <% 
        end
      end
    %>
  <% end %>
</ol>
