<ol start="<%= start_result %>" class="list__no-style results__list">
  <% results.each_with_index do |result, index| %>
    <%= erb :"datastores/results/partials/results-list/_list-item", locals: { datastore: datastore, index: start_result + index, result: result } %>
    <% if @presenter.show_specialists?(index) %>
      <li class="container__rounded">
        <%= erb :"/datastores/results/partials/results-list/_specialists" %>
      </li>
    <% end %>
  <% end %>
</ol>
