<div class="list__actions--utilities">
  <label class="select-all">
    <input type="checkbox" class="select-all__checkbox" checked="">
    <span>Select all</span>
  </label>
  <div class="list__in-list"><span class="strong">1</span> out of <span class="strong">1</span> item selected.</div>
</div>
