@use '../colors';
@use '../utilities';
@use './header/choose-affiliation';
@use './header/logo';
@use './header/search';
@use './header/navigation';
@use './header/flint-message';

// --------------------------------------------------
//
// # Header
//   Styles to apply directly to `views/partials/_header.erb`.
//
// ## Table of Contents
//   1. m-universal-header
//   2. m-website-header
//     2.1 Navigation
//     2.2 Login
//     2.3 JavaScript Enabled
//   3. Print Logo
//
// --------------------------------------------------

// ***************************** //
// *** 1. M-UNIVERSAL-HEADER *** //
// ***************************** //

body:not([class]) m-universal-header {
  min-height: 35px;
}





// *************************** //
// *** 2. M-WEBSITE-HEADER *** //
// *************************** //

$component: "m-website-header";

#{$component} {
  font-family: var(--font-base-family);
}



// *                * //
// * 2.1 NAVIGATION * //
// *                * //

#{$component} {
  nav,
  nav ul {
    @include utilities.flex($wrap: true);
  }
  nav {
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}



// *           * //
// * 2.2 LOGIN * //
// *           * //

#{$component} .login__form button {
  all: unset;
  color: white;
  cursor: pointer;
  &:hover {
    background: none;
    text-decoration: underline;
  }
}



// *                        * //
// * 2.3 JAVASCRIPT ENABLED * //
// *                        * //

body:not([class]) #{$component} nav {
  all: unset;
  .logo {
    display: none;
  }
}





// ********************* //
// *** 3. PRINT LOGO *** //
// ********************* //

.logo__print {
  padding: 0.5in;
  padding-bottom: 0;
  @media screen {
    display: none;
  }
}
