<div class="container advanced-search">
  <%= h1(body: @presenter.page_title) %>
  <p class="text__large">Select a search category below for associated advanced search options.</p>
  <%= erb :"advanced/partials/_tabs", locals: { current_datastore: @presenter.current_datastore } %>
  <%= yield %>
</div>
