services:
  app:
    build:
      context: .
      target: development
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    volumes:
      - .:/app
    env_file:
      - .env

  web:
    build:
      context: .
      target: development
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    depends_on:
      - 'redis'
      - 'catalog-api'
    ports:
      - 4567:4567
      - 9100:9100
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379
    command:
      - bundle
      - exec
      - puma
      - -b
      - "tcp://0.0.0.0:4567"

  sidekiq:
    build:
      context: .
      target: development
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    ports:
      - 9292:9292
    depends_on:
      - 'redis'
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379
    command:
      - bundle
      - exec
      - puma
      - --no-config
      - -b
      - "tcp://0.0.0.0:9292"
      - sidekiq.ru

  worker:
    build:
      context: .
      target: development
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    depends_on:
      - 'redis'
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379
    command:
      - bundle
      - exec
      - sidekiq
      - -r
      - "./app.rb"
    

  catalog-api:
    image: ghcr.io/mlibrary/search.catalog-api-unstable:latest
    env_file:
      - .env
    ports:
      - 8000:8000
    command:
      - python
      - -m
      - uvicorn
      - catalog_api.main:app
      - --host
      - 0.0.0.0

  redis:
    image: 'redis:latest'
    command: redis-server
    ports:
      - '6379:6379'
    volumes:
      - 'redis:/data'
  js:
    build:
      context: .
      target: development
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    volumes:
      - .:/app
    env_file:
      - .env
    command:
      - npm
      - run
      - watch:js

  css:
    build:
      context: .
      target: development
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    volumes:
      - .:/app
    env_file:
      - .env
    command:
      - npm
      - run
      - watch:css

volumes:
  redis:
