<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="min-width: 100%;">
  <tr>
    <td style="<%= style_text %> text-align: left;" class="body-text">
      <p style="margin: 0px; <%= style_text %>">
        If you have questions about accessing these resources, please <%= link_to(body: "Ask a Librarian", url: "https://www.lib.umich.edu/research-and-scholarship/help-research/how-we-can-help") %> or email <a href="mailto:askus@umich.edu">askus@umich.edu</a>.
      </p>
    </td>
  </tr>
</table>
