// --------------------------------------------------
//
// # Add To
//   Styles to apply directly to `views/datastores/list/_add-to.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Button
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.list__add-to';






// ***************** //
// *** 2. BUTTON *** //
// ***************** //

#{$class} > button {
  @media print {
    display: none;
  }
  body.no-javascript & {
    display: none;
  }
}
