@use '../../../utilities';
@use '../../../forms';

// --------------------------------------------------
//
// # Add To
//   Styles to apply directly to `views/datastores/list/_go-to.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Container
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.list__go-to';





// ******************** //
// *** 2. CONTAINER *** //
// ******************** //

#{$class} {
  @include utilities.flex($wrap: true);
  & {
    background-color: var(--search-color-blue-200);
    border: 2px solid var(--search-color-blue-300);
    border-radius: forms.$radius;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    p {
      margin: 0;
    }
  }
  &#{$class}--empty {
    display: none;
  }
  @media print {
    display: none;
  }
}





// ****************** //
// *** 3. IN LIST *** //
// ****************** //

#{$class}--in-list {
  background-color: var(--search-color-blue-500);
  border-radius: forms.$radius;
  color: white;
  padding: 0 .25rem;
}
