@use '../../../forms';

// --------------------------------------------------
//
// # Add To
//   Styles to apply directly to `views/datastores/list/_in-list.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Container
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.list__in-list';






// ******************** //
// *** 2. CONTAINER *** //
// ******************** //

#{$class} {
  background-color: var(--search-color-blue-500);
  border-radius: forms.$radius;
  color: white;
  padding: 0 0.25rem;
  @media print {
    color: var(--search-color-blue-500);
  }
}
