@use '../../partials/metadata';
@use '../../../utilities';

// --------------------------------------------------
//
// # Add To
//   Styles to apply directly to `views/datastores/list/_list-item.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. List Item
//     2.1. Header
//     2.2. Metadata
//     2.3. Clone
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.list__item';






// ******************** //
// *** 2. LIST ITEM *** //
// ******************** //

#{$class} {
  padding: 1rem;
  & + &,
  & > * + * {
    margin-top: 1rem;
  }
}



// *             * //
// * 2.1. HEADER * //
// *             * //

#{$class} {
  #{$class}--header {
    @include utilities.flex($align: baseline);
    #{$class}--title {
      margin: 0;
      #{$class}--title-number,
      #{$class}--title-transliterated {
        color: var(--search-color-grey-500);
      }
      #{$class}--title-transliterated {
        display: block;
      }
    }
  }
}



// *               * //
// * 2.2. METADATA * //
// *               * //

#{$class} {
  .metadata  {
    .metadata__data--transliterated {
      color: var(--search-color-grey-500);
      display: inline-block;
      padding-left: .25rem;
      &:before {
        background-color: currentColor;
        content: "";
        display: inline-block;
        height: 1em;
        margin-right: .5rem;
        position: relative;
        top: .125rem;
        width: 1px;
      }
    }
  }
}



// *            * //
// * 2.3. CLONE * //
// *            * //

#{$class}--clone {
  display: none;
}
