// --------------------------------------------------
//
// # Add To
//   Styles to apply directly to `views/datastores/list/_remove-selected.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Button
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.list__button--remove-selected';






// ***************** //
// *** 2. BUTTON *** //
// ***************** //

button#{$class} {
  body.no-javascript & {
    display: none;
  }
  @media print {
    display: none;
  }
}
