// --------------------------------------------------
//
// # Add Selected
//   Styles to apply directly to `views/datastores/partials/actions/action/_add-selected.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Tab
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: "add-selected";





// ************** //
// *** 2. TAB *** //
// ************** //

body, // Remove this line when JavaScript is enabled
body.no-javascript {
  button#actions__#{$class},
  #actions__#{$class}--tabpanel {
    display: none;
  }
}
