@use '../../../../utilities';
@use '../../../../colors';
@use '../../../../media';
@use '../../../../forms';
@use '../../../../typography';
@use './citation/csl';
@use './citation/tabpanel/textbox';

// --------------------------------------------------
//
// # Actions
//   Styles to apply directly to `views/datastores/partials/actions/action/_citation.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Tab
//   3. Tabs
//   4. Tabpanel
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: ".citation";





// ************** //
// *** 2. TAB *** //
// ************** //

body.no-javascript {
  button#actions__citation,
  #actions__citation--tabpanel {
    display: none;
  }
}





// *************** //
// *** 3. TABS *** //
// *************** //

#{$class}__tablist {
  @include utilities.flex($align: stretch, $responsive: true);
  & {
    gap: 0;
    @include media.breakpoint('xs') {
      border-bottom: 2px solid var(--search-color-grey-400);
    }
  }
  button[role="tab"] {
    @include forms.button;
    & {
      border-color: var(--search-color-grey-400);
      border-radius: 0;
      border-style: solid;
      border-width: 0 0 0 3px;
      padding: 0.5rem 1.25rem;
      @include media.breakpoint('xs') {
        border-color: transparent;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-width: 3px 1px;
        margin-bottom: -2px;
      }
    }
    &[aria-selected="true"] {
      background-color: var(--search-color-grey-200);
      border-color: currentColor;
      color: colors.$color-anchor;
      font-weight: typography.$weight-bold;
      @include media.breakpoint('xs') {
        background-color: white;
        border-color: currentColor var(--search-color-grey-400) white var(--search-color-grey-400);
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }
}





// ******************* //
// *** 4. TABPANEL *** //
// ******************* //

#{$class} #{$class}__label,
#{$class} #{$class}__input {
  display: block;
}

#{$class} #{$class}__label {
  margin-top: 0.75rem;
}

#{$class} #{$class}__not-available {
  color: var(--search-color-grey-600);
  font-style: italic;
}



// *           * //
// * 4.1 ALERT * //
// *           * //

#{$class}__tabpanel .alert {
  margin-top: 1rem;
}
