// --------------------------------------------------
//
// # Email
//   Styles to apply directly to `views/datastores/partials/actions/action/_email.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. No JavaScript
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: "email";





// ************************ //
// *** 2. NO JAVASCRIPT *** //
// ************************ //

body.no-javascript {
  button#actions__#{$class},
  #actions__#{$class}--tabpanel {
    display: none;
  }
}
