// --------------------------------------------------
//
// # Email
//   Styles to apply directly to `views/datastores/partials/actions/_email.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Log In
//   3. Alert
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: "email";





// ***************** //
// *** 2. LOG IN *** //
// ***************** //

body.no-javascript #actions__#{$class}--tabpanel:has(form[action="/auth/openid_connect"]) {
  display: none;
}





// **************** //
// *** 3. ALERT *** //
// **************** //

.actions__alert {
  display: none;
  margin-bottom: 1rem;
}
