// --------------------------------------------------
//
// # Remove Selected
//   Styles to apply directly to `views/datastores/partials/actions/action/_remove-selected.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Remove Selected
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: "remove-selected";





// ************************** //
// *** 2. REMOVE SELECTED *** //
// ************************** //

body.no-javascript {
  button#actions__#{$class},
  #actions__#{$class}--tabpanel {
    display: none;
  }
}
