// --------------------------------------------------
//
// # Text
//   Styles to apply directly to `views/datastores/partials/actions/action/_text.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Tab
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: "text";





// ************** //
// *** 2. TAB *** //
// ************** //

body.no-javascript {
  button#actions__#{$class},
  #actions__#{$class}--tabpanel {
    display: none;
  }
}
