<div class="everything-results__datastore--description">
  <p>
    <% if datastore == "catalog" %>
      Everything in our physical collection as well as ebooks, audio, video, and online journals.
    <% elsif datastore == "articles" %>
      Articles from scholarly journals, magazines, and newspapers; ebooks and chapters; proceedings; reports; and more — all online.
    <% elsif datastore == "databases" %>
      Online resources of all types — text, images, audio, video, data, etc. — some open access, many restricted to U-M.
    <% elsif datastore == "onlinejournals" %>
      Scholarly journals, newspapers, trade and popular magazines, annual publications, and more.
    <% elsif datastore == "guidesandmore" %>
      U-M Library created research guides, specialty sites, blogs, and online exhibits.
    <% end %>
  </p>
</div>