<div class="everything-results__datastore--header">
  <h2 class="h5"><%= link_to(body: datastore.title, url: "/#{datastore.slug}?query=#{params[:query]}", classes: ["underline__none"]) %></h2>
  <small class="strong">0 results</small>
</div>
