<form action="/<%= datastore %>/record/<%= record_id %>/brief" method="post" class="list__add-to" data-record-id="<%= record_id %>">
  <button type="submit" class="button__ghost" title="Add to My Temporary List">
    <span class="material-symbols-rounded" aria-hidden="true">add</span>
    <span class="visually-hidden">
      Add <%= record_title %> to My Temporary List
    </span>
  </button>
</form>
