<form action="/everything/list/<%= record_id %>" method="post">
  <button type="submit" class="button__ghost">
    <span class="material-symbols-rounded" aria-hidden="true">add</span>
    <span class="visually-hidden">
      Add <%= record_title %> to your temporary list
    </span>
  </button>
</form>
