<div class="list__go-to list__go-to--empty">
  <p>
    Go to <%= link_to(body: "My Temporary List", url: "/everything/list") %> to email, text, and export citations.
  </p>
  <%= erb :'datastores/list/partials/_in-list' %>
</div>
