<li class="container__rounded list__item list__item--clone">
  <div class="list__item--header">
    <input type="checkbox" class="listem__item--checkbox" value="" aria-label="Select record">
    <h2 class="list__item--title h4">
      <%= link_to(body: "Original Title", url: "datastore/recordId", classes: ["list__item--title-primary"]) %>
      <span class="list__item--title-secondary h5">
        Transliterated title
      </span>
    </h2>
  </div>
  <table class="metadata">
    <thead class="visually-hidden">
      <tr>
        <th scope="col">Field</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Field
        </th>
        <td>
          <span class="metadata__data--original">
            Original Data
          </span>
          <span class="metadata__data--transliterated">
            Transliterated Data
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</li>
