<li class="container__rounded list__item list__item--clone">
  <div class="list__item--header">
    <input type="checkbox" class="record__checkbox" value="" aria-label="Select record" checked="">
    <h3 class="list__item--title h4">
      <span class="list__item--title-number">0.</span>
      <a href="datastore/record/recordId" class="list__item--title-original">Original Title</a>
      <span class="h5 list__item--title-transliterated">
        Transliterated Title
      </span>
    </h3>
  </div>
  <table class="metadata">
    <thead class="visually-hidden">
      <tr>
        <th scope="col">Field</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr class="metadata__row--clone">
        <th scope="row">
          Field
        </th>
        <td>
          <span class="metadata__data--original">
            Original Data
          </span>
          <span class="metadata__data--transliterated">
            Transliterated Data
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</li>

<%= erb :'datastores/results/partials/results-list/_list-item', locals: { classes: ["hide__no-javascript", "list__item--clone"], datastore: datastore, index: 0, result: result } %>
