@use '../../../../utilities';
@use '../../../../colors';

// --------------------------------------------------
//
// # Checkboxes
//   Styles to apply directly to `views/datastores/results/partials/filters/_checkboxes.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. List
//   3. Anchor
//     3.1. Active
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.filter__checkbox';





// *************** //
// *** 2. LIST *** //
// *************** //

#{$class}es {
  padding: 1rem;
}





// ***************** //
// *** 3. ANCHOR *** //
// ***************** //

#{$class}--link {
  @include utilities.flex($align: baseline);
  color: colors.$color-text;
  gap: 0.5rem;
  &:before {
    border: 2px solid var(--search-color-grey-600);
    border-radius: 2px;
    content: '';
    display: inline-block;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
  }
}



// *             * //
// * 3.1. ACTIVE * //
// *             * //

#{$class}--link-active {
  &:before {
    background: colors.$color-anchor url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI5LjYuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDIuMS4xIEJ1aWxkIDkpICAtLT4KICA8ZGVmcz4KICAgIDxzdHlsZT4KICAgICAgLnN0MCB7CiAgICAgICAgZmlsbDogI2ZmZjsKICAgICAgfQogICAgPC9zdHlsZT4KICA8L2RlZnM+CiAgPHBhdGggY2xhc3M9InN0MCIgZD0iTTguNDYsMTUuMzZMMjAuMDYsMy43NmMuNDYtLjQ2LDEtLjY5LDEuNjMtLjY5czEuMTcuMjMsMS42My42OS42OSwxLC42OSwxLjYzLS4yMywxLjE3LS42OSwxLjYzbC0xMy4yMywxMy4yM2MtLjQ2LjQ2LTEsLjY5LTEuNjMuNjlzLTEuMTctLjIzLTEuNjMtLjY5TC42OSwxNC4xQy4yMywxMy42NCwwLDEzLjEsMCwxMi40N3MuMjMtMS4xNy42OS0xLjYzYy40Ni0uNDYsMS0uNjksMS42My0uNjlzMS4xNy4yMywxLjYzLjY5bDQuNTIsNC41MloiLz4KPC9zdmc+) center / contain no-repeat;
    border-color: colors.$color-anchor;
  }
}
