@use '../../../../utilities';

// --------------------------------------------------
//
// # Checkboxes
//   Styles to apply directly to `views/datastores/results/partials/filters/_checkboxes.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Container
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.filter__checkboxes';





// ******************** //
// *** 2. CONTAINER *** //
// ******************** //

#{$class} {
  padding: 1rem;
  & > * + * {
    margin-top: 0.5rem;
  }
}
