@use '../../../../utilities';

// --------------------------------------------------
//
// # Checkboxes
//   Styles to apply directly to `views/datastores/results/partials/filters/_checkboxes.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Container
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.filter__checkboxes';





// ******************** //
// *** 2. CONTAINER *** //
// ******************** //

#{$class} {
  padding: 1rem;
  @media print {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  & > * + * {
    margin-top: 0.5rem;
  }
}





// **************** //
// *** 3. LABEL *** //
// **************** //

@media print {
  #{$class} .filter__checkbox {
    &:has(input[type="checkbox"]:not(:checked)) {
      display: none;
    }
  }
}
