@use '../../../utilities';

// --------------------------------------------------
//
// # Actions
//   Styles to apply directly to `views/datastores/record/partials/_title.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Title
//     2.1 Secondary
//     2.2 Truncate
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: "record__title";





// **************** //
// *** 2. TITLE *** //
// **************** //

.#{$class} {
  font-size: 1.75rem;
  font-weight: normal;
  & > span {
    display: block;
  }
}



// *               * //
// * 2.1 SECONDARY * //
// *               * //

.#{$class} > .record__title-secondary {
  color: var(--search-color-grey-500);
}



// *              * //
// * 2.2 TRUNCATE * //
// *              * //

.#{$class} > span {
  .truncate__text {
    margin-right: 0.5rem;
  }
  .truncate__button {
    bottom: 0.25rem;
    display: inline-block;
    position: relative;
  }
}
