@use '../../../utilities';

// --------------------------------------------------
//
// # MARC Data
//   Styles to apply directly to `views/datastores/record/partials/_title.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Wrapper
//   3. Position
//   4. Content
//     4.1. Type
//     4.2. Truncate
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.record__title';





// ****************** //
// *** 2. WRAPPER *** //
// ****************** //

#{$class} {
  @include utilities.flex($align: baseline);
  font-size: 1.75rem;
  font-weight: normal;
  gap: 0.5rem;
}






// ******************* //
// *** 3. POSITION *** //
// ******************* //

#{$class}--position {
  color: var(--search-color-grey-500);
}






// ****************** //
// *** 4. CONTENT *** //
// ****************** //

#{$class}--content {
  display: block;
}



// *           * //
// * 4.1. TYPE * //
// *           * //

#{$class} .record__title-secondary {
  color: var(--search-color-grey-500);
}



// *               * //
// * 4.2. TRUNCATE * //
// *               * //

#{$class} button[data-truncate] {
  bottom: .25rem;
  display: inline-block;
  position: relative;
}
