<h3 class="h4 results__list-item--title">
  <span class="results__list-item--title-number"><%= index %>.</span>
  <%= link_to(body: record_title.first.text, url: "#{datastore}/record/#{record_id}", classes: ["results__list-item--title-original"]) %>
  <% if record_title.second %>
    <span class="h5 results__list-item--title-transliterated">
      <%= record_title.second.text %>
    </span>
  <% end %>
</h3>
