@use '../../media';
@use './partials/everything/datastore';

// --------------------------------------------------
//
// # Add To
//   Styles to apply directly to `views/datastores/results/_everything.erb`.
//
// ## Table of Contents
//   1. Variables
//   1. Container
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.everything-results__container';





// ******************** //
// *** 2. CONTAINER *** //
// ******************** //

#{$class} {
  align-items: start;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(0, 100%));
  justify-content: center;
  max-width: 100%;
  @include media.breakpoint('sm') {
    grid-template-columns: repeat(auto-fit, minmax(0, calc(50% - 1rem)));
  }
  @include media.breakpoint('lg') {
    grid-template-columns: repeat(auto-fit, minmax(0, 20rem));
  }
}
