@use '../../media';
@use '../../utilities';
@use '../../forms';
@use './partials/info';
@use './partials/library-scope';
@use './partials/filters';
@use './partials/summary';
@use '../list/partials/go-to';
@use '../partials/actions';
@use '../partials/select-all';
@use './partials/results-list';
@use './partials/pagination';
@use './partials/no-results';

// --------------------------------------------------
//
// # Results
//   Styling for datastore results pages.
//
// ## Table of Contents
//   1. Variables
//   2. Container
//     2.1. Sidebar
//     2.2. Content
//
// --------------------------------------------------



// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: 'results';





// ******************** //
// *** 2. CONTAINER *** //
// ******************** //

.#{$class}__container {
  @include utilities.flex($align: start, $responsive: 'lg');
  max-width: 75rem;
}



// *              * //
// * 2.1. SIDEBAR * //
// *              * //

.#{$class}__sidebar {
  width: 100%;
  @include media.breakpoint('lg') {
    flex-shrink: 0;
    width: 18.5rem;
  }
  .container__rounded--no-shadow {
    background-color: var(--search-color-grey-100);
  }
}

// * 2.1.1. DETAILS * //

.#{$class}__sidebar--filters {
  border-top: none;
  & > summary {
    @include media.breakpoint('lg') {
      display: none;
    }
    &.#{$class}__sidebar--filters-summary-active {
      background-color: var(--color-green-100);
      border: 1px solid var(--color-green-200);
      border-radius: forms.$radius;
      color: var(--search-color-green-300);
      &:after {
        color: var(--search-color-green-300);
      }
    }
  }
}



// *              * //
// * 2.2. CONTENT * //
// *              * //

.#{$class}__content {
  width: 100%;
  & > * + * {
    margin-top: 1rem;
  }
}
