@use '../../media';
@use '../../utilities';
@use './partials/info';

// --------------------------------------------------
//
// # Results
//   Styling for datastore results pages.
//
// ## Table of Contents
//   1. Variables
//   2. Container
//     2.1. Sidebar
//     2.2. Content
//
// --------------------------------------------------



// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: 'results';





// ******************** //
// *** 2. CONTAINER *** //
// ******************** //

.#{$class}__container {
  @include utilities.flex($align: start, $responsive: 'md');
  max-width: 75rem;
}



// *              * //
// * 2.1. SIDEBAR * //
// *              * //

.#{$class}__sidebar {
  @include media.breakpoint('md') {
    width: 18.5rem;
  }
}



// *              * //
// * 2.2. CONTENT * //
// *              * //

.#{$class}__content {
}
