@use '../../../utilities';
@use '../../../typography';

// --------------------------------------------------
//
// # Format
//   Styles to apply directly to `views/datastores/partials/metadata/_format.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Formats
//     2.1. Icon
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$list: ".metadata ul.metadata__list.metadata__list--format";





// ****************** //
// *** 2. FORMATS *** //
// ****************** //

#{$list} > li {
  @include utilities.flex($align: start);
  & {
    gap: 0.25rem;
  }
  @media print {
    display: flex!important;
  }
}



// *          * //
// * 2.1 ICON * //
// *          * //

#{$list} > li > .material-symbols-rounded {
  color: var(--color-neutral-300);
  font-size: 1.25rem;
  font-variation-settings: "FILL" 1;
}
