@use '../../../utilities';
@use '../../../typography';

// --------------------------------------------------
//
// # Format
//   Styles to apply directly to `views/datastores/partials/metadata/_format.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Formats
//     2.1. Icon
//   3. Record Formats
//     3.1. Icon
//     3.2. Text
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: "formats";





// ****************** //
// *** 2. FORMATS *** //
// ****************** //

.#{$class} .#{$class}__item {
  @include utilities.flex($align: start);
  & {
    gap: 0.25rem;
  }
}



// *          * //
// * 2.1 ICON * //
// *          * //

.#{$class} .#{$class}__item--icon {
  color: var(--color-neutral-300);
  font-size: 1.25rem;
  font-variation-settings: "FILL" 1;
}





// ************************* //
// *** 3. RECORD FORMATS *** //
// ************************* //

.record__#{$class} {
  @include utilities.flex($wrap: true);
  &,
  .#{$class}__item--icon {
    color: var(--search-color-blue-500);
  }
  & {
    background: var(--search-color-blue-200);
    padding: 1rem;
  }
}



// *          * //
// * 3.1 ICON * //
// *          * //

.record__#{$class} .#{$class}__item--icon {
  font-size: 1.25rem;
  font-variation-settings: "FILL" 1;
}



// *          * //
// * 3.1 TEXT * //
// *          * //

.record__#{$class} .#{$class}__item--text {
  font-weight: typography.$weight-bold;
}
