@use '../../../typography';

// --------------------------------------------------
//
// # Parallel Browse
//   Styles to apply directly to `views/datastores/partials/metadata/_parallel_browse.erb`.
//
// ## Table of Contents
//   1. Browse Link
//
// --------------------------------------------------

// ********************** //
// *** 1. BROWSE LINK *** //
// ********************** //

.browse__link {
  &,
  & > * {
    color: var(--search-color-grey-600);
    font-size: typography.$size-small;
  }
  &:before {
    content: '|';
  }
}
