@use '../../partials/toggle';
@use './filters/details';

// --------------------------------------------------
//
// # Add To
//   Styles to apply directly to `views/datastores/results/partials/_filters.erb`.
//
// ## Table of Contents
//   1. Variables
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.filters';
