@use '../../../utilities';

// --------------------------------------------------
//
// # Add To
//   Styles to apply directly to `views/datastores/results/partials/_library-scope.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Container
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.library-scope';





// ******************** //
// *** 2. CONTAINER *** //
// ******************** //

#{$class} {
  padding: 1rem;
  & > * + * {
    margin-top: 0.5rem;
  }
}



// *             * //
// * 2.1. SUBMIT * //
// *             * //

body:not(.no-javascript) #{$class}__submit {
  display: none;
}
