@use './results-list/result';
@use './results-list/specialists';

// --------------------------------------------------
//
// # Results List
//   Styles to apply directly to `views/datastores/results/partials/_results-list.erb`.
//
// ## Table of Contents
//   1. Variables
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.results__list';





// *************** //
// *** 2. LIST *** //
// *************** //

#{$class} {
  & > li + li {
    margin-top: 1rem;
  }
}
