@use './results-list/list-item';
@use './results-list/specialists';

// --------------------------------------------------
//
// # Results List
//   Styles to apply directly to `views/datastores/results/partials/_results-list.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. List Items
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.results__list';





// ********************* //
// *** 2. LIST ITEMS *** //
// ********************* //

#{$class} {
  & > li + li {
    margin-top: 1rem;
  }
}
