@use '../../../utilities';
@use '../../../media';
@use './summary/sort';

// --------------------------------------------------
//
// # Add To
//   Styles to apply directly to `views/datastores/results/partials/_summary.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Info
//     2.1. Content
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.results__summary';





// ******************** //
// *** 2. CONTAINER *** //
// ******************** //

#{$class} {
  @include utilities.flex($responsive: 'lg');
  padding: 1rem;
  & > * {
    flex: 1 1 0;
    width: 100%;
  }
  p {
    margin: 0;
  }
}
