@use '../../../../../utilities';
@use '../../../../../media';

// --------------------------------------------------
//
// # Specialists
//   Styles to apply directly to `views/datastores/results/partials/results-list/list-items/_result.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Container
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.results__list--item';





// ******************** //
// *** 2. CONTAINER *** //
// ******************** //

#{$class} {
  padding: 1rem;
}
