@use '../partials/breadcrumbs';
@use '../list/partials/go-to';
@use '../partials/actions';
@use '../partials/metadata';
@use '../partials/holdings';
@use './partials/shelf-browse';
@use './partials/marc';
@use '../../utilities';
@use '../../forms';

// --------------------------------------------------
//
// # Record
//   Styles to apply directly to `views/datastores/record/layout.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Record
//     2.1. Container
//   3. Information
//     3.1. Header
//       3.1.1. Checkbox
//       3.1.2. Title
//   4. Date Last Indexed
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: 'record';





// ***************** //
// *** 2. RECORD *** //
// ***************** //

.#{$class} > * + * {
  margin-top: 1rem;
}



// *              * //
// * 2.1. ACTIONS * //
// *              * //

.#{$class} .actions button#actions__remove-selected {
  display: none;
}



// *                * //
// * 2.2. CONTAINER * //
// *                * //

.#{$class}__container--active {
  outline: 2px solid var(--search-color-blue-300);
}





// ********************** //
// *** 3. INFORMATION *** //
// ********************** //

.#{$class} .#{$class}__information {
  border-radius: forms.$radius forms.$radius 0 0;
  border-top: 1rem solid var(--search-color-blue-200);
  padding: 1rem;
}



// *             * //
// * 3.1. HEADER * //
// *             * //

.#{$class} .#{$class}__information--header {
  @include utilities.flex($align: start);
  & > * {
    margin-top: 0;
  }
}

// * 3.1.1. CHECKBOX * //

.#{$class} .#{$class}__information--header > .list__item--checkbox {
  display: none;
  flex-shrink: 0;
  margin-top: 0.75rem;
}

// * 3.1.2. TITLE * //

.#{$class} .#{$class}__information--header > .#{$class}__title {
  font-size: 1.75rem;
  font-weight: normal;
  & > span {
    display: block;
    .truncate__text {
      margin-right: 0.5rem;
    }
    .truncate__button {
      bottom: 0.25rem;
      display: inline-block;
      position: relative;
    }
  }
  & > .record__title-secondary {
    color: var(--search-color-grey-500);
  }
}





// **************************** //
// *** 4. DATE LAST INDEXED *** //
// **************************** //

.#{$class} .#{$class}__indexing-date {
  color: var(--search-color-grey-600);
}
