@use '../partials/breadcrumbs';
@use '../partials/actions';
@use '../partials/metadata';
@use '../partials/holdings';
@use './partials/marc';
@use './partials/title';
@use '../../forms';

// --------------------------------------------------
//
// # Record
//   Styles to apply directly to `views/datastores/record/layout.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Record
//   3. Information
//   4. Date Last Indexed
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: 'record';





// ***************** //
// *** 2. RECORD *** //
// ***************** //

.#{$class} > * + * {
  margin-top: 1rem;
}





// ********************** //
// *** 3. INFORMATION *** //
// ********************** //

.#{$class} .#{$class}__information {
  border-radius: forms.$radius forms.$radius 0 0;
  border-top: 1rem solid var(--search-color-blue-200);
  padding: 1rem;
}





// **************************** //
// *** 4. DATE LAST INDEXED *** //
// **************************** //

.#{$class} .#{$class}__indexing-date {
  color: var(--search-color-grey-600);
}
