<p><%= link_to(body: "About location", url: holding.location_url) %></p>
<% if holding.holding_info %>
  <ul>
    <% holding.holding_info.each do |info| %>
      <li><%= info %></li>
    <% end %>
  </ul>
<% end %>

<table class="holding__physical">
  <thead>
    <tr>
      <% holding.table_headings.each do |heading|%>
      <th scope="col"><%=heading%></th>
      <% end%>
    </tr>
  </thead>
  <tbody>
    <% holding.items.to_a.each do |row| %>
      <tr>
        <% row.to_a.each do |data| %>
          <td>
            <%= erb :"datastores/partials/holdings/_#{data.partial}", locals: {value: data} %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
