<p><%= link_to(body: "About location", url: holding.location_url) %></p>
<% if holding.holding_info %>
  <ul>
    <% holding.holding_info.each do |info| %>
      <li><%= info %></li>
    <% end %>
  </ul>
<% end %>

<table class="holding__physical">
  <thead>
    <tr>
      <th scope="col">Action</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Call Number</th>
    </tr>
  </thead>
  <tbody>
    <% holding.items.each do |item| %>
      <tr>
        <% [item.action, item.description, item.status, item.call_number].each do |data| %>
          <td><%= erb :"datastores/partials/holdings/_#{data.partial}", locals: {value: data} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
