<%= value.url.present? ? link_to(body: value, url: value.url) : value %> <span style="color: #637381;">|</span> <a href="<%= value.browse_url %>" style="color: #4e4e4e!important; font-size: 14px;">Browse in <%= value.kind.gsub('_', ' ') %> list</a>
