<div class="container browse">
  <%= h1(body: "Browse all DATASTORE") %>

  <%= yield %>

  <%= erb :'/datastores/browse/partials/_titles' %>

  <%= erb :'/datastores/browse/partials/_academic-discipline' %>
</div>
