@use '../../utilities';
@use '../../icons';
@use '../../media';
@use './actions/summary';
@use './actions/alert';
@use './actions/action/email';
@use './actions/action/text';
@use './actions/action/citation';
@use './actions/action/remove-selected';

// --------------------------------------------------
//
// # Actions
//   Styles to apply directly to `views/datastores/partials/_actions.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Container
//   3. Tablist
//     3.1 Tabs
//   4. Tabpanel
//     4.1 Form
//     4.2 Alert
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: "actions";
$tabs: (
  "email": "mail",
  "text": "chat",
  "citation": "format_quote",
  "ris": "draft",
  "link": "link",
  "remove-selected": "delete"
);





// ******************** //
// *** 2. CONTAINER *** //
// ******************** //

.#{$class} {
  border-bottom: 1px solid var(--color-neutral-100);
  margin-top: 1rem;
  @include media.breakpoint('md') {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  @media print {
    display: none;
  }
}





// ****************** //
// *** 3. TABLIST *** //
// ****************** //

.#{$class}__tablist {
  @include utilities.flex($align: start, $responsive: true);
  & {
    padding-top: 0.5rem;
  }
}



// *          * //
// * 3.1 TABS * //
// *          * //

body.no-javascript .#{$class}__tablist {
  display: none;
}

.#{$class}__tablist > button[role="tab"] {
  @include utilities.flex();
  & {
    flex: 0 1 0;
    font-size: 1rem;
    gap: 0.5rem;
  }
  @include media.breakpoint('xs') {
    flex-direction: column;
    gap: 0rem;
    text-align: center;
  }
  @include media.breakpoint('sm') {
    flex-basis: auto;
  }
  @each $tab, $icon in $tabs {
    &##{$class}__#{$tab}:before {
      @include icons.icon($icon: $icon);
      & {
        font-size: 1.25rem;
      }
    }
  }
  &[aria-selected="false"] {
    border-color: transparent;
  }
  &[aria-selected="true"] {
    background: var(--search-color-blue-200);
    color: var(--search-color-blue-500);
  }
}





// ******************* //
// *** 4. TABPANEL *** //
// ******************* //

[role="tabpanel"] {
  padding-top: 0;
}



// *          * //
// * 4.1 FORM * //
// *          * //

[role="tabpanel"] .#{$class}__form {
  button[type="submit"] {
    margin-top: 1rem;
  }
  @include media.breakpoint('xs') {
    display: grid;
    gap: 0.125rem 1rem;
    grid-template-areas:
      "label ."
      "input submit"
      "description .";
    grid-template-columns: 1fr auto;
    max-width: 30rem;
    label {
      grid-area: label;
    }
    input {
      grid-area: input;
    }
    small {
      grid-area: description;
    }
    button[type="submit"] {
      grid-area: submit;
      margin-top: 0;
    }
  }
}



// *           * //
// * 4.2 ALERT * //
// *           * //

[role="tabpanel"] .alert {
  display: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
