@use './metadata/format';
@use './metadata/parallel_browse';
@use './metadata/academic_discipline';
@use '../../utilities';
@use '../../media';

// --------------------------------------------------
//
// # Metadata
//   Styles to apply directly to `views/datastores/partials/_metadata.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Tbody
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: ".metadata";





// **************** //
// *** 2. TBODY *** //
// **************** //

#{$class} tbody tr {
  @include utilities.flex($align: start, $responsive: true);
  & {
    gap: 0;
  }
  @include media.breakpoint($breakpoint: xs) {
    display: table-row;
    th {
      border-right: 1rem solid transparent; // Space between rows because we can't use margin or padding
      width: 10rem;
    }
  }
}
