<% if @presenter.previous_url || @presenter.next_url %>
  <nav class="record-pagination" aria-label="Record pagination">
    <ul class="record-pagination__list">
      <% if @presenter.previous_url %>
        <li class="record-pagination__list-item">
          <a href="<%= @presenter.previous_url %>">
            <span class="material-symbols-rounded" aria-hidden="true">arrow_back_ios</span>
            Previous Record
          </a>
        </li>
      <% end %>
      <% if @presenter.next_url %>
        <li class="record-pagination__list-item">
          <a href="<%= @presenter.next_url %>">
            Next Record
            <span class="material-symbols-rounded" aria-hidden="true">arrow_forward_ios</span>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
