<h1 id="maincontent" tabindex="-1" class="record__title">
  <% titles.each do |title| %>
    <span class="<%= title.css_class %> record__title--toggle">
      <%= title.text %>
    </span>
  <% end %>
</h1>
