<span id="citation__<%= style.downcase %>--label" class="citation__label"><%= style %> citation</span>
<div role="textbox" contenteditable="true" aria-labelledby="citation__<%= style.downcase %>--label" aria-describedby="citation__input-disclaimer" class="citation__input" id="citation__<%= style.downcase %>--text">
  <span class="citation__not-available">Citation not available.</span>
</div>
