<nav aria-label="Breadcrumbs">
  <ol class="breadcrumbs">
    <li><%= link_to(body: @presenter.title, url: "/#{@presenter.current_datastore}?#{request.query_string}") %></li>
    <li aria-current="page"><%= current_page %></li>
  </ol>
</nav>
