<dl class="metadata">
  <% metadata.each do |data| %>
    <div class="metadata__information">
      <dt>
        <%= data.field %>
      </dt>
      <%= erb :"datastores/partials/metadata/_#{data.partial}", locals: { values: data.locals } %>
    </div>
  <% end %>
</dl>
