<table class="metadata">
  <thead class="visually-hidden">
    <tr>
      <th scope="col">Field</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    <% metadata.each do |data| %>
      <tr>
        <th scope="row">
          <%= data.field %>
        </th>
        <td>
          <%= erb :"datastores/partials/metadata/_#{data.partial}", locals: { values: data.locals } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
