<%
  classes = ["button__ghost"] + Array(classes)

  postfix ||= ""
  body = ["Show fewer", postfix.presence].compact.join(" ")
%>
<button class="<%= classes.join(" ")%>" aria-expanded="true" aria-controls="<%= id %>" data-toggle="<%= count %>">
  <%= body %>
</button>
