<% classes = ["button__ghost", "hide__no-javascript", "hide__print"] + Array(classes) %>

<button class="<%= classes.join(" ")%>" aria-expanded="true" aria-controls="<%= id %>" data-truncate="<%= count %>">
  Show less
</button>
