@use './messages';
@use 'sass:map';

// --------------------------------------------------
//
// # Icons
//   Styling for elements using Material Icons.
//   https://fonts.google.com/icons
//
// ## Table of Contents
//   1. Variables and Mixins
//     1.1 Variables
//     1.2 Mixins
//   2. Material Symbols
//
// --------------------------------------------------





// ******************************* //
// *** 1. VARIABLES AND MIXINS *** //
// ******************************* //

// *               * //
// * 1.1 VARIABLES * //
// *               * //
$icons: (
  "add": "\e145",
  "chat": "\e0b7",
  "dashboard": "\e871",
  "delete": "\e872",
  "draft": "\e66d",
  "format_quote": "\e244",
  "info": "\e88e",
  "keyboard_arrow_down": "\e313",
  "keyboard_arrow_right": "\e315",
  "link": "\e157",
  "list": "\e896",
  "mail": "\e158",
  "open_in_new": "\e89e"
);



// *            * //
// * 1.2 MIXINS * //
// *            * //

@mixin icon($fill: true, $icon) {
  $fill-value: 0;
  @if $fill {
    $fill-value: 1;
  }
  font-family: "Material Symbols Rounded";
  font-variation-settings: "FILL" $fill-value;
  @if $icon {
    @include messages.missing-key($icons, $icon);
    & {
      content: map.get($icons, $icon);
      display: inline-block;
      vertical-align: bottom;
    }
  }
}





// *************************** //
// *** 2. MATERIAL SYMBOLS *** //
// *************************** //

.material-symbols-rounded {
  font-variation-settings: "FILL" 1;
}
