@use './messages';
@use 'sass:map';

// --------------------------------------------------
//
// # Typography
//   Styling for common text elements and classes.
//
//   1. Variables
//   2. Headings
//   3. Sizes
//   4. Weight
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$size-small: 0.875rem;
$weight-bold: 700;





// ******************* //
// *** 2. HEADINGS *** //
// ******************* //

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: $size-small;
}





// **************** //
// *** 3. SIZES *** //
// **************** //

.text__large {
  font-size: 1.125rem;
}

.text__normal {
  font-size: 1rem;
}

small,
.text__small {
  font-size: $size-small;
}





// ****************** //
// *** 4. WEIGHTS *** //
// ****************** //

strong,
b,
.strong {
  font-weight: $weight-bold;
}
