@use './media';

// --------------------------------------------------
//
// # Utilities
//   Utilities contains mixins with naming conventions that are self-descriptive, single-purpose CSS.
//
// ## Table of Contents
//   1. Flex
//   2. Truncate
//
// --------------------------------------------------

// *************** //
// *** 1. FLEX *** //
// *************** //

@mixin flex($wrap: false, $align: center, $responsive: false) {
  align-items: $align;
  display: flex;
  gap: 0.5rem 1rem;
  @if $wrap {
    flex-wrap: wrap;
  }
  @if $responsive != false {
    flex-direction: column;
    @include media.breakpoint(if($responsive == true, 'xs', $responsive)) {
      flex-direction: row;
    }
  }
}





// ******************* //
// *** 2. TRUNCATE *** //
// ******************* //

@mixin truncate($lines: 3) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
