@use '../../../../../../forms';

// --------------------------------------------------
//
// # Title
//   Styles to apply directly to `views/datastores/results/partials/results-list/list-item/header/_title.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Title
//     2.1. Truncate
//   3. Recommended
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.results__list-item--title';





// **************** //
// *** 2. TITLE *** //
// **************** //

#{$class} {
  color: var(--search-color-grey-500);
  margin: 0;
}



// *               * //
// * 2.1. TRUNCATE * //
// *               * //

#{$class}-truncate {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}





// ********************** //
// *** 3. RECOMMENDED *** //
// ********************** //

#{$class}-recommended {
  background-color: var(--color-maize-400);
  border-radius: forms.$radius;
  color: var(--search-color-primary);
  display: inline-block;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
}
