<div class="alert alert__success actions__alert">
  Link copied!
</div>
<form class="actions__form action__link--form">
  <label for="action__link--input">Copy link</label>
  <input type="url" id="action__link--input" name="action__link--input" autocomplete="off" value="<%= request.url.sub("?" + request.query_string, "") %>">
  <button class="link__copy" type="submit" disabled>Copy link</button>
</form>
