<form method="get" action="<%= @presenter.ris_action_url%>" class="action__ris">
  <%= erb :"datastores/partials/actions/action/ris/_textarea" %>
  <button type="submit">Download (RIS)</button>
</form>
