@use '../partials/breadcrumbs';
@use '../partials/actions';
@use '../partials/select-all';
@use './partials/list-item';
@use '../../utilities';
@use '../../forms';

// --------------------------------------------------
//
// # List
//   Styles to apply directly to `views/datastores/list/layout.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Container
//   3. Empty
//   4. Actions
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.list';





// ******************** //
// *** 2. CONTAINER *** //
// ******************** //

#{$class} > * {
  margin-top: 1rem;
}





// **************** //
// *** 3. EMPTY *** //
// **************** //

#{$class} #{$class}__empty {
  padding: 1rem;
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}





// ****************** //
// *** 4. ACTIONS *** //
// ****************** //

#{$class} .actions {
  button#actions__link,
  #actions__link--tabpanel {
    display: none;
  }
}
