@use '../partials/breadcrumbs';
@use './partials/empty';
@use '../partials/actions';
@use '../partials/select-all';
@use '../results/partials/_results-list';
@use '../../utilities';
@use '../../forms';

// --------------------------------------------------
//
// # List
//   Styles to apply directly to `views/datastores/list/layout.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Container
//   3. Actions
//     3.1. Copy Link
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.list';





// ******************** //
// *** 2. CONTAINER *** //
// ******************** //

#{$class} > * {
  margin-top: 1rem;
}





// ****************** //
// *** 3. ACTIONS *** //
// ****************** //

#{$class} .actions__tablist {
  flex-wrap: nowrap;
  & > button[role="tab"] {
    flex-basis: auto;
  }
}



// *                * //
// * 3.1. COPY LINK * //
// *                * //

#{$class} .actions {
  button#actions__link,
  #actions__link--tabpanel {
    display: none;
  }
}
