<section class="browse__academic-discipline">
  <h2>Academic Discipline</h2>
  <ul>
    <li>
      <%= link_to(body: "Arts", url: "#") %>
      <ul>
        <li>
          <%= link_to(body: "Arts", url: "#") %>
          <ul>
            <li>
              <%= link_to(body: "Arts", url: "#") %>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</section>
