<form>
  <label>
    <input type="checkbox" id="hathiTrustMaterials" name="hathiTrustMaterials" value="true" style="display: block;">
    <span>View HathiTrust search-only materials</span>
  </label>
  <button type="submit">Apply</button>
</form>
