<% if @presenter.boolean_filters.any? %>
  <ul class="list__no-style filter__checkboxes">
    <% @presenter.boolean_filters.each do | filter| %>
      <li class="checkbox filter__checkbox">
        <%= link_to(body: filter.label, url:  filter.url, classes: filter.classes) %>
      </li>
    <% end %>
  </ul>
<% end %>
