// --------------------------------------------------
//
// # Toggle Selected
//   Styles to apply directly to `views/datastores/partials/actions/action/toggle-selected/_add.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Button
//   3. Record
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: "actions__toggle-selected--tabpanel";





// ***************** //
// *** 2. BUTTON *** //
// ***************** //

##{$class}.#{$class}-remove .action__toggle-selected--add {
  display: none;
}





// ***************** //
// *** 3. RECORD *** //
// ***************** //

.record__container--in-temporary-list {
  outline: 2px solid var(--search-color-blue-300);
}
