<form method="post" action="/auth/openid_connect" class="login__form">
  <input type="hidden" name="authenticity_token" value="<%= request.env["rack.session"]["csrf"] %>">
  <button type="submit"><%= (defined?(text) && text) ? text : "Log in to continue" %></button>
</form>
