<form id="login_form" method="post" action="/auth/openid_connect">
  <input type="hidden" name="authenticity_token" value="<%= request.env["rack.session"]["csrf"] %>">
  <button type="submit">Log in</button>
</form>
