<%
  # Create fake data for the list item clone
  fake_data = JSON.parse('{
    "id": "1337",
    "title": [
      {
        "original": {
          "text": "Original Title"
        },
        "transliterated": {
          "text": "Transliterated Title"
        }
      }
    ],
    "published": [
      {
        "transliterated": {
          "text": "Original Data"
        },
        "original": {
          "text": "Transliterated Data"
        }
      }
    ]
  }')
  result = Search::Presenters::Record::Catalog::Brief.new(
    Search::Models::Record::Catalog.new(fake_data)
  )
%>
<div class="container list">
  <%= h1(body: @presenter.page_title) %>
  <p>Items in this list are stored temporarily (within a single session).</p>
  <%= erb :'datastores/list/partials/_empty' %>
  <%= erb :'datastores/list/partials/_results', locals: { datastores: @datastores, results: [result] } %>
</div>
