<div class="container list">
  <%= h1(body: @presenter.page_title) %>
  <p>Items in this list are stored temporarily (within a single session).</p>
  <div class="container__rounded list__empty">
    <p>
      <span class="strong">This list is empty.</span>
      Continue searching to add to this list.
    </p>
  </div>
  <div class="hide__no-javascript container__sticky">
    <%= erb :'datastores/partials/_actions', locals: { patron: @patron } %>
    <%= erb :'datastores/partials/_select-all' %>
  </div>
  <%= erb :'datastores/list/partials/_list-item' %>
</div>
