@use '../../../partials/metadata';
@use '../../../partials/holdings';
@use './list-item/header';

// --------------------------------------------------
//
// # Specialists
//   Styles to apply directly to `views/datastores/results/partials/results-list/_list-item.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Information
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.results__list-item';





// ******************** //
// *** 2. LIST ITEM *** //
// ******************** //

#{$class} {
  @media print {
    page-break-inside: avoid;
  }
}





// ********************** //
// *** 2. INFORMATION *** //
// ********************** //

#{$class}--information {
  padding: 1rem;
  @media print {
    padding-left: 0;
    padding-right: 0;
  }
  & > * + * {
    margin-top: 1rem;
  }
}
