@use '../../../partials/metadata';
@use '../../../partials/holdings';
@use './list-item/header';

// --------------------------------------------------
//
// # Specialists
//   Styles to apply directly to `views/datastores/results/partials/results-list/_list-item.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. List Item
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.results__list-item';





// ******************** //
// *** 2. LIST ITEM *** //
// ******************** //

#{$class} {
  padding: 1rem;
  & > * + * {
    margin-top: 1rem;
  }
}
