@use './list-items/list-item';
@use './list-items/specialists';

// --------------------------------------------------
//
// # Results List
//   Styles to apply directly to `views/datastores/results/partials/results-list/_list-items.erb`.
//
// ## Table of Contents
//   1. Variables
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.results__list-items';
