@use '../../../../utilities';
@use '../../../../media';

// --------------------------------------------------
//
// # Specialists
//   Styles to apply directly to `views/datastores/results/partials/results-list/_specialists.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Container
//   3. Header
//   4. List
//     4.1. List Item
//       4.1.1. Image
//       4.1.2. Content
//   5. Toggle
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.specialists';





// ******************** //
// *** 2. CONTAINER *** //
// ******************** //

#{$class} {
  text-align: center;
}





// ***************** //
// *** 3. HEADER *** //
// ***************** //

#{$class}__header {
  @include utilities.flex($wrap: true);
  background-color: var(--search-color-grey-100);
  border-bottom: 1px solid var(--search-color-grey-300);
  justify-content: space-between;
  padding: 1rem;
  text-align: left;
  & > * {
    flex: 0 0 auto;
    margin: 0;
  }
}





// *************** //
// *** 4. LIST *** //
// *************** //

#{$class}__list {
  @include utilities.flex($align: start, $responsive: 'xl', $wrap: true);
  padding: 0 1rem;
  text-align: left;
}



// *                * //
// * 4.1. LIST ITEM * //
// *                * //

#{$class}__list > #{$class}__list--item {
  @include utilities.flex($align: start);
  flex: 1 1 0;
  padding: 1rem 0;
  width: 100%;
  @include media.breakpoint('xl') {
    max-width: calc(33.333% - 2rem);
  }
  & + #{$class}__list--item {
    border-top: 1px solid var(--search-color-grey-400);
    @include media.breakpoint('xl') {
      border-top: none;
    }
  }
}

// * 4.1.1. IMAGE * //

#{$class}__list--item-image { 
  border-radius: 50%;
  flex: 0 0 auto;
  grid-area: image;
  height: 4rem;
  object-fit: cover;
  object-position: top right;
  width: 4rem;
}

// * 4.1.2. CONTENT * //

#{$class}__list--item-content {
  & > * {
    margin: 0;
    & + * {
      margin-top: 0.25rem;
    }
  }
}





// ***************** //
// *** 5. TOGGLE *** //
// ***************** //

#{$class}__toggle {
  display: inline-block;
  margin-bottom: 1rem;
}
