// --------------------------------------------------
//
// # Specialists
//   Styles to apply directly to `views/datastores/results/partials/results-list/_specialists.erb`.
//
// ## Table of Contents
//   1. Variables
//   2. Container
//
// --------------------------------------------------

// ******************** //
// *** 1. VARIABLES *** //
// ******************** //

$class: '.results__specialists';
