<div class="results__list-item--keyword-switch">
  <span class="material-symbols-rounded" aria-hidden="true">
    info
  </span>
  <div class="results__list-item--keyword-switch-content">
    <p>Seeing less precise results than you expected?</p>
    <p><%= link_to(body: "Try your search as an exact phrase search.", url: "") %></p>
  </div>
</div>
