<li class="container__rounded results__list-item record__container" data-record-id="<%= result.id %>" data-record-datastore="<%= datastore %>">
  <%= erb :'/datastores/results/partials/results-list/list-item/_header', locals: { datastore: datastore, index: index, record_id: result.id, record_title: result.title } %>
  <%= erb :'/datastores/partials/_metadata', locals: { metadata: result.metadata } %>
</li>
