<%= erb :'datastores/partials/_breadcrumbs', locals: { current_page: "Record" } %>
<p>Actions</p>
<div class="container__rounded">
  <p>Formats</p>
  <p>Add to list</p>
  <%= h1(body: @presenter.title) %>
  <p>Metadata</p>
  <%= yield %>
  <p>Harmful language</p>
  <p>Resource Access</p>
</div>
<p>Shelf browse</p>
<p>Date Last Indexed</p>
<p>View MARC data</p>
